
	/*产品分类*/

	/*产品分类导航*/
	#productsNav dd
	{
	    display: block;

	    width: 100%;
	}

	#productsNav dl.productsNavLast
	{
	    border-bottom: 1px solid #d7d7d7;
	}

	/*产品分类导航广告栏*/
	.productsNavAd
	{
	    height: 60px;
	    padding: 9px 15px 9px;

	    background-color: #fff;
	}

	.productsNavAdName
	{
	    margin-top: 4px;
	    margin-left: 69px;
	}

	/*筛选栏*/
	#screenedBar
	{
	    width: 796px;
	    margin-bottom: 14px;
	    margin-left: 204px;
	    padding-top: 4px;
	}

	.screened
	{
	    line-height: 32px;

	    width: 100%;

	    border-bottom: 1px solid #d9d9d9;
	}

	.screened dt
	{
	    float: left;

	    width: 74px;
	    margin-right: 41px;

	    text-align: right;

	    color: #999;
	}

	.screened dd
	{
	    display: inline-block;

	    margin-right: 29px;
	}

	.screened dd a
	{
	    color: #1d7ad9;
	}

	.screened dd a:hover
	{
	    text-decoration: underline;
	}

	#phone dd
	{
	    margin-right: 100px;
	    margin-left: 2px;
	}

	.unlimited
	{
	    line-height: 1;

	    float: left;

	    width: 28px;
	    height: 15px;
	    margin-top: 7px;
	    padding-top: 3px;

	    text-align: center;

	    background-color: #1d7ad9;
	}

	dd.unlimited a
	{
	    color: #fff;
	}

	.screened table
	{
	    margin-bottom: -11px;
	}

	.screened td
	{
	    width: 115px;
	}

	.more
	{
	    float: right;

	    margin-right: 90px;
	    padding-right: 11px;

	    background: url(../images/icon/moresj.jpg) right center no-repeat;
	}

	.more a
	{
	    color: #000;
	}

	.screened select
	{
	    height: 20px;
	    margin: 7px -20px 7px 0;

	    border: 1px solid #dcdcdc;
	}

	/*筛选页商品栏*/
	#screenShopBar
	{
	    width: 796px;
	    margin-left: 19px;
	    padding-bottom: 20px;
	    padding-left: 185px;

	    border-bottom: 1px solid #d9d9d9;
	}

	/*筛选页商品栏顶部栏*/
	#screenShopBarTop
	{
	    line-height: 32px;

	    height: 32px;
	    padding-right: 80px;

	    text-indent: 10px;

	    border: 1px solid #d9d9d9;
	    background-color: #f5f5f5;
	}

	#screenShopBarTop select
	{
	    height: 22px;
	    margin-left: 6px;
	}

	#stock input
	{
	    line-height: 32px;

	    width: 15px;
	    height: 15px;

	    vertical-align: middle;
	}

	#stock label
	{
	    padding-right: 12px;
	}

	#stock span
	{
	    color: #999;
	}

	#stock strong
	{
	    font-size: 13px;

	    color: #d70000;
	}

	/*筛选页商品栏展示*/
	#screenShopBarShow
	{
	    width: 100%;
	    padding-top: 27px;
	    padding-left: 50px;
	}

	#screenShopBarShow ul
	{
	    width: 750px;
	    height: 324px;
	}

	#screenShopBarShow li
	{
	    position: relative;

	    float: left;

	    width: 196px;
	    margin: 0 22px 36px;
	}

	.screenShopName
	{
	    height: 32px;
	}

	.screenShopName a
	{
	    color: #000;
	}

	.screenShopName a:hover
	{
	    color: #f00;
	}

	.popular
	{
	    position: absolute;
	    top: 0;
	    right: -5px;
	}

	.priceAndComments
	{
	    margin: 8px 0 8px 0;
	}

	.priceAndComments span
	{
	    font-size: 13px;
	    font-weight: bold;

	    margin-right: 9px;

	    color: #d80000;
	}

	#screenShopBarShow li div span + a
	{
	    color: #1d7ad9;
	}

	#screenShopBarShow li div span + a:hover
	{
	    text-decoration: underline;
	}

	.getInShopCar
	{
	    font-weight: bold;
	    line-height: 22px;

	    width: 88px;
	    height: 22px;

	    text-indent: 23px;

	    color: #3a79c0;
	    border: 1px solid #c3d5e7;
	    background: url(../images/icon/shopcars.jpg) 6px center no-repeat;
	}

	/*筛选页翻页按钮*/
	.pageTo
	{
	    clear: both;

	    height: 28px;
	    margin-left: 69px;
	}

	.pageTo li
	{
	    line-height: 26px;

	    float: left;

	    height: 26px;
	    margin: 0 3px;
	    padding: 0 12px;

	    text-align: center;

	    border: 1px solid #ddd;
	}

	.pageTo li.pageToActive
	{
	    color: #fff;
	    background-color: #26b;
	}

	.pageTo li.points
	{
	    border: none;
	}

	.skip
	{
	    line-height: 26px;

	    height: 26px;
	}

	.skip input
	{
	    width: 35px;
	    height: 26px;

	    text-align: center;

	    border: 1px solid #ddd;
	}

	.skip input.skipBtn
	{
	    width: 44px;
	    margin-left: 2px;

	    background-color: #e8e8e8;
	}